<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zichen.admin.mapper.UserTbMapper">
    <select id="getUserTb" resultType="com.zichen.admin.bean.UserTb">
        select * from dpet where dpetNo = #{dpetNo}
    </select>

    <!--UPDATE testdb.dpet SET dpetno=0, dpetname='', loc='';-->
    <insert id="insertUserTb" parameterType="hashmap">
        insert into dpet(dpetno, dpetname, loc) values (#{dpetNo}, #{dpetName}, #{loc})
    </insert>
</mapper>