<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="ThemeBucket">
    <link rel="shortcut icon" href="#" type="image/png">

    <title>Dynamic Table</title>

    <!--dynamic table-->
    <link href="js/advanced-datatable/css/demo_page.css" rel="stylesheet"/>
    <link href="js/advanced-datatable/css/demo_table.css" rel="stylesheet"/>
    <link rel="stylesheet" href="js/data-tables/DT_bootstrap.css"/>

    <!-- 弹出窗css -->
    <link rel="stylesheet" href="css/dynamic_table.css"/>
    <!--common-->
    <div th:include="common/commons :: commonLinks"></div>
</head>

<body class="sticky-header">

<section>
    <!-- left side start-->
    <div th:include="common/commons :: #commonLeftMenu"></div>
    <!-- left side end-->

    <!-- main content start-->
    <div class="main-content">

        <!-- header section start-->
        <div th:include="common/commons :: #commonHeader"></div>
        <!-- header section end-->

        <!-- page heading start-->
        <div class="page-heading">
            <h3>
                Dynamic Table
            </h3>
            <ul class="breadcrumb">
                <li>
                    <a href="#">Dashboard</a>
                </li>
                <li>
                    <a href="#">Data Tables</a>
                </li>
                <li class="active"> Dynamic Table</li>
            </ul>
        </div>
        <!-- page heading end-->

        <!--body wrapper start-->
        <div class="wrapper">
            <div class="row">
                <div class="col-sm-12">
                    <section class="panel">
                        <header class="panel-heading">
                            Dynamic Table
                            <span class="tools pull-right">
                <a href="javascript:;" class="fa fa-chevron-down"></a>
                <a href="javascript:;" class="fa fa-times"></a>
             </span>
                        </header>
                        <div class="panel-body">
                            <div class="adv-table">
                                <table class="display table table-bordered table-striped" id="dynamic-table">
                                    <thead>
                                    <tr>
                                        <th href="#">Dashboard</th>
                                        <th name="id">编号</th>
                                        <th name="name">姓名</th>
                                        <th name="email">邮箱</th>
                                        <th name="age">年龄</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="gradeX" th:each="user,stat:${pages.records}">
                                        <td th:text="${stat.count}">Trident</td>
                                        <td th:text="${user.id}">Internet Explorer 4.0</td>
                                        <td th:text="${user.name}">Win 95+</td>
                                        <td th:text="${user.email}">4</td>
                                        <td class="center hidden-phone">[[${user.age}]]</td>
                                        <td>
                                            <!--<a th:onclick="'javascript:addUser(' + ${pages.current} + ')'" class="btn btn-primary btn-sm">新增用户</a>-->
                                            <a th:onclick="addUser([[${pages.current}]])" class="btn btn-primary btn-sm">新增用户</a>
                                            <a th:onclick="updateUser([[${pages.current}]], [[${user.id}]], [[${user.name}]], [[${user.age}]], [[${user.email}]])" class="btn btn-default btn-sm">更新用户</a>
                                            <!--<a th:href="@{/delete/user/{id}/{currentPage}(id=${user.id}, currentPage=${pages.current})}" class="btn btn-danger btn-sm" type="button">Delete</a>-->
                                            <a th:href="@{/delete/user(id=${user.id}, currentPage=${pages.current})}" class="btn btn-danger btn-sm" type="button">Delete</a>
                                        </td>
                                    </tr>
                                    </tbody>
                                    <tfoot>

                                    </tfoot>
                                </table>
                                <div class="row-fluid">
                                    <div class="span6">
                                        <div class="dataTables_info" id="dynamic-table_info">
                                            当前是第 [[${pages.current}]] 页，共 [[${pages.pages}]] 页，共 [[${pages.total}]] 条数据
                                        </div>
                                    </div>
                                    <div class="span6">
                                        <div class="dataTables_paginate paging_bootstrap pagination">
                                            <ul>

                                                <li class="prev disabled">
                                                    <a href="#" th:href="@{/dynamic_table(currentPage=${1})}">← 前一页</a>
                                                </li>
                                                <li th:class="${pages.current == num ? 'active' : ''}" th:each="num:${#numbers.sequence(1, pages.pages)}">
                                                    <a id="aid" href="#" th:href="@{/dynamic_table(currentPage=${num})}" th:text="${num}"><!--[[${num}]]--></a>
                                                </li>
                                                <li class="next disabled">
                                                    <a href="#" th:href="@{/dynamic_table(currentPage=${2})}">后一页 → </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <section class="panel">
                        <header class="panel-heading">
                            DataTables hidden row details example
                            <span class="tools pull-right">
                <a href="javascript:;" class="fa fa-chevron-down"></a>
                <a href="javascript:;" class="fa fa-times"></a>
             </span>
                        </header>
                        <div class="panel-body">
                            <div class="adv-table">
                                <table class="display table table-bordered" id="hidden-table-info">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>names</th>
                                        <th>nums</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="gradeX" th:each="dataTest_01:${dataTest_01s}">
                                        <td></td>
                                        <td th:text="${dataTest_01.getDataName()}"></td>
                                        <td>[[${dataTest_01.getDataNum()}]]</td>
                                    </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
        <!--body wrapper end-->

        <!--footer section start-->
        <footer>
            2020 &copy; AdminEx by ThemeBucket </a>
        </footer>
        <!--footer section end-->


    </div>
    <!-- main content end-->
</section>

<!-- addUser -->
<div name="panelAddUserName" id="panelAddUserId" class="white_content" style="display: none"><br>
    <input type="hidden" name="addCurrentPageName" id="addCurrentPageId"/>
    <form name="panelAddUserName4Form" id="panelAddUserId4Form">
        姓名：<input type="input" id="addName" class="form-control" placeholder="姓名" autofocus/>
        年龄：<input type="input" id="addAge" class="form-control" placeholder="年龄"/>
        邮箱：<input type="input" id="addEmail" class="form-control" placeholder="邮箱"/>
        <br/>
        <div>
            <button class="glyphicon glyphicon-ok" th:onclick="addUserSubmit()" type="submit">添加</button>
            <button class="glyphicon glyphicon-remove" onclick="cancelAddUser()">取消</button>
        </div>
        <!-- http://v3.bootcss.com/getting-started/#download -->
    </form>
</div>
<div id="addFade" class="black_overlay" style="display: none"></div>

<!-- updateUser -->
<div name="panelUpdateUserName" id="panelUpdateUserId" class="white_content" style="display: none"><br>
    <input type="hidden" name="updateCurrentPageName" id="updateCurrentPageId"/>
    <form name="panelAddUserName4Form" id="panelUpdateUserId4Form">
        id：<input type="input" id="updateId" class="form-control" placeholder="id" readonly="readonly"/><br/>
        姓名：<input type="input" id="updateName" class="form-control" placeholder="姓名"/><br/>
        年龄：<input type="input" id="updateAge" class="form-control" placeholder="年龄"/><br/>
        邮箱：<input type="input" id="updateEmail" class="form-control" placeholder="邮箱"/><br/>
        <br/>
        <div>
            <button class="glyphicon glyphicon-ok" th:onclick="updateUserSubmit()" type="submit">更新</button>
            <button class="glyphicon glyphicon-remove" onclick="cancelAddUser()">取消</button>
        </div>
        <!-- http://v3.bootcss.com/getting-started/#download -->
    </form>
</div>
<div id="updateFade" class="black_overlay" style="display: none"></div>


<!-- Placed js at the end of the document so the pages load faster -->
<div th:include="common/commons :: commonScript"></div>

<!--dynamic table-->
<script type="text/javascript" language="javascript" src="js/advanced-datatable/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="js/data-tables/DT_bootstrap.js"></script>
<!--dynamic table initialization -->
<!--<script src="js/dynamic_table_init.js"></script>-->

<script type="text/javascript" src="js/dynamic_table.js"></script>

<!--common scripts for all pages-->
<div th:include="~{common/commons :: commonScript4AllPages}"></div>

</body>
</html>
