<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="ThemeBucket">
  <link rel="shortcut icon" href="#" type="image/png">

  <title>500 Page</title>

    <!--common-->
    <div th:include="common/commons :: commonLinks"></div>
</head>

<body class="error-page">

<section>
    <div class="container ">

        <section class="error-wrapper text-center">
            <h1><img alt="" src="images/500-error.png"></h1>
            <h2 th:text="${status}">OOOPS!!!</h2>
            <!-- 两种获取异常信息的方法 -->
            <!--<h2 th:text="${message}">OOOPS!!!</h2>
            <h3 th:text="${timestamp}">Something went wrong.</h3>
            <p class="nrml-txt" th:text="${path}">Why not try refreshing you page? Or you can <a href="#">contact our support</a> if the problem persists.</p>-->
            <h2><a style="color:red">message: [[${message}]]</a></h2>
            <h3><a style="color:red">time: [[${timestamp}]]</a></h3>
            <p class="nrml-txt"><a style="color:red">path: [[${path}]]</a></p>
            <p class="nrml-txt"><a style="color:#5e5555">exception: [[${trace}]]</a></p>
            <a class="back-btn" href="../index.html" th:href="@{/main.html}"> Back To Home</a>
        </section>

    </div>
</section>

<!-- Placed js at the end of the document so the pages load faster -->
<script src="js/jquery-1.10.2.min.js"></script>
<script src="js/jquery-migrate-1.2.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/modernizr.min.js"></script>


<!--common scripts for all pages-->
<!--<script src="js/scripts.js"></script>-->

</body>
</html>
